*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

body input:focus:required:invalid, body textarea:focus:required:invalid {}
body input:required:valid, body textarea:required:valid{}

body{font-family: "RobotoRegular", sans-serif; font-size: 16px; line-height: 1;}

a{
	-webkit-transition: all ease-in .2s;
	-o-transition: all ease-in .2s;
	transition: all ease-in .2s;
}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.input-wrap{position: relative;}

.null{padding-left: 0; padding-right: 0;}
.null-left{padding-left: 0;}
.null-right{padding-right: 0;}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-responsive{
	display: inline-block;
	max-width: 100%;
	height: auto;
}

#success{display: none;}
#success h4{
	font-size: 20px;
	text-align: center;
	padding: 10px 15px;
}
.home {
	width: 100%;
	background: url(../images/home.png);
	-webkit-background-size: cover;
	background-size: cover;
}
.home header {
	margin-top: 58px;
}
.home h2 {
	font-family: "MyriadPro Cond";
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}
.top-menu li {
	float: left;
	margin-right: 33px;
}
.top-menu li:last-child {
	margin-right: 0px;
}
.top-menu li a {
	display: block;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}
.top-menu li a:hover {
	color: #19bc9c;
}
.home h1 {
	font-family: "Rokkitt Regular";
	font-size: 60px;
	color: #fff;
	text-align: center;
	margin-top: 146px;
}
.home .palka {
	display: block;
	width: 614px;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	margin-top: 6px;
}
.home h3 {
	font-family: "Quicksand Regular";
	font-size: 22px;
	color: #fff;
	text-align: center;
	margin-top: 22px;
}
.home .go-ahead {
	display: block;
	width: 205px;
	height: 45px;
	background-color: #1abc9c;
	font-family: "Rokkitt Regular";
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	line-height: 37px;
	padding-left: 33px;
	border: 6px solid /*red*/ rgba(26,188,156,0.5);
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
	margin-bottom: 30px;
}
.home .mobile-btn {
	display: none;
}
.aboutme {
	width: 100%;
	padding-top: 153px;
	padding-bottom: 75px;
}
.aboutme .headline {
	font-family: "MyriadPro Bold";
	font-size: 36px;
	color: #1abc9c;
	text-align: center;
}
.aboutme .headline_paragraph {
	font-family: "MyriadPro Regular";
	font-size: 18px;
	color: #95a5a6;
	text-align: center;
	line-height: 29px;
	margin-top: 60px;
}
.aboutme figure {
	margin-top: 75px;
}
.aboutme figure img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.aboutme figure h2 {
	font-family: "MyriadPro Bold";
	font-size: 20px;
	color: #1abc9c;
	text-align: center;
	margin-top: 31px;
}
.aboutme figure p {
	font-family: "MyriadPro Regular";
	font-size: 15px;
	color: #95a5a6;
	line-height: 29px;
	margin-top: 40px;
}
.portfolio {
	width: 100%;
	padding-top: 75px;
	margin-bottom: 55px;
}
.portfolio a {
	display: block;
	width: 100%;
	height: 300px;
	background-color: #e38279;
	margin-bottom: 55px;
}
.portfolio .first_work {
	background: url(../images/Portfolio_1a.png) center;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}
.portfolio .first_work:hover {
	background: url(../images/Portfolio_1.png) center;
	background-size: 120% 120%;
}
.portfolio .second_work {
	float: right;
	background: url(../images/Portfolio_2a.png) center;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}
.portfolio .second_work:hover {
	background: url(../images/Portfolio_2.png) center;
	background-size: 120% 120%;
}
.portfolio .third_work {
	background: url(../images/Portfolio_3a.png) center;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}
.portfolio .third_work:hover {
	background: url(../images/Portfolio_3.png) center;
	background-size: 120% 120%;
	position: relative;
}
.portfolio .fourth_work {
	float: right;
	background: url(../images/Portfolio_4a.png) center;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}
.portfolio .fourth_work:hover {
	background: url(../images/Portfolio_4.png) center;
	background-size: 120% 120%;
	position: relative;
}
.portfolio .desc {
	display: block;
	position: absolute;
	width: 100%;
	height: 90px;
	background-color: #1abc9c;
	top: 210px;
	box-shadow: 0 0 0 7px rgba(26,188,156,.5);
	opacity: 0;
	transition: all ease 0.3s;
}
.portfolio .item:hover .desc{
	opacity: 1;
}
.portfolio .desc h2 {
	font-family: "Rokkitt Regular";
	font-size: 30px;
	color: #fff;
	padding-left: 20px;
	padding-top: 23px;
}
.portfolio .desc p {
	font-family: "MyriadPro Regular";
	font-size: 15px;
	color: #297465;
	padding-left: 20px;
	padding-top: 7px;
}
.portfolio a:hover .desc{
	display: block;
}
.portfolio .view_more {
	width: 218px;
	height: 57px;
	background-color: #1abc9c;
	margin-right: auto;
	margin-left: auto;
	font-family: "Rokkitt Regular";
	font-size: 25px;
	line-height: 57px;
	text-transform: uppercase;
	color: #fff;
	padding-left: 28px;
}

.contact {
	width: 100%;
	margin-bottom: 150px;
}
.contact h2 {
	font-family: "Rokkitt Regular";
	color: #1abc9c;
	font-size: 60px;
	text-align: center;
	margin-bottom: 75px;
}
.contact input[type="text"] {
	width: 100%;
	height: 73px;
	background-color: #e4e8e8;
	font-family: "Rokkitt Regular";
	font-size: 30px;
	color: gray;
	border: none;
	outline: none;
	padding-left: 30px;
	margin-bottom: 30px;
}
.contact textarea {
	width: 100%;
	height: 250px;
	resize: none;
	background-color: #e4e8e8;
	font-family: "Rokkitt Regular";
	font-size: 30px;
	color: rgba(206,206,206,1);
	padding-left: 30px;
	border: none;
	outline: none;
	padding-top: 30px;
	margin-bottom: 30px;
}
.contact input[type="submit"] {
	display: block;
	width: 218px;
	height: 57px;
	background-color: #1abc9c;
	margin-right: auto;
	margin-left: auto;
	font-family: "Rokkitt Regular";
	font-size: 25px;
	line-height: 57px;
	text-transform: uppercase;
	color: #fff;
	border: none;
	outline: none;
}
.contact label.error {
	display: block;
	font-size: 12px;
	margin-top: -10px;
	margin-bottom: 20px;
	color: #1abc9c;
}
footer {
	width: 100%;
	background-color: #1abc9c;
}
footer .img {
	width: 88px;
	height: 88px;
	background-color: #fff;
	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border: 6px solid rgba(26,188,156,1);
	margin-top: -30px;
}
footer img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
footer .twitter-icon {
	float: left;
}
footer .facebook-icon {
	float: right;
}
.written {
 	margin-top: 80px;
}
footer h3 {
	font-family: "Rokkitt Regular";
	font-size: 25px;
	color: #fff;
}
footer p {
	display: block;
	font-family: "Rokkitt Regular";
	font-size: 25px;
	color: #fff;
	float: right;
}
.sticky {
	background: #1abc9c;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	display: none;
}
.sticky h2 {
	font-family: "MyriadPro Cond";
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}
.sticky .logo, .sticky .top-menu-2 {
	padding: 15px 0;
}

.top-menu li.active a{text-decoration: underline;}
.top-menu-2 li {
	float: left;
	margin-right: 33px;
}
.top-menu-2 li:last-child {
	margin-right: 0px;
}
.top-menu-2 li a {
	display: block;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}
.top-menu-2 li a:hover {
	color: #19bc9c;
}
.top-menu-2 li.active a{text-decoration: underline;}
#top {
	cursor: pointer;
	display: none;
	width: 50px;
	height: 50px;
	background: #1abc9c;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 36px;
	color: #fff;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 100;
}